*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}
body {
  font-family: sans-serif;
  font-weight: 500;
}

.container {
  width: 90%;
  margin:0 auto;
  padding: 80px 0;
}